# **Level-up my learning**

### **1. Setup python env variables in zsh** 

**step1:Find python**\
Find the location where python is installed.
In my case it is installed in:
>/opt/homebrew/bin/python3

**step2:Add python in file**\
Now add this path in the `'/etc/paths'` file.
Open 'paths' file using:
>sudo nano /etc/paths
Provide your password and add the above line in the file the save using `ctrl+X` then press `Y` and press Enter to save file. Now you can simply type python3 to run python.


### **2. Adding python3 alias to python**

**step1:add `alias python='python3'`**\
To add python alias find the `.zshrc` hidden file in `/Users/arsalanamin`.Using:
>sudo nano /users/arsalanamin/.zshrc

Provide your password and add `alias python='python3'` in the file the save using `ctrl+X` then press `Y` and press Enter to save file.

### **3. Regular expressions**

**Meta Characters**

|character|Desc|
|--|--|
|[]| A set of characters|
|\ |Signals a special sequence (can also be used to escape special characters)|
|.|Any character (except newline character)|
|^|Starts with|
|$|Ends with|
|*| 0 or more occurrences|
|+| 1 or more occurrences|
|? | 0 or 1 occurences|
|{}|Exactly the specified number of occurrences|
| \| | Either or |
|() |Capture and group|

**Special Sequences**
|character|Desc|
|--|--|
|\A |Returns a match if the specified characters are at the beginning of the string|
|\b |Returns a match where the specified characters are at the beginning or at the end of a word r” ain\b.”|
|\s |Returns a match where the string contains a white space character|
|\w |Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)|

e.g:
```python
findall, search, split, sub, finditer
patt = re.compile(r'fass')
patt = re.compile(r'.adm')
patt = re.compile(r'^Tata')
patt = re.compile(r'iin$')
patt = re.compile(r'ai{2}')
patt = re.compile(r'(ai){1}')
patt = re.compile(r'ai{1}|Fax')
```

In [140]:
import re

txt = "#bistiProof FollowFriday @France @Fastly @Fasting @Lasting @Roasting @PKuchly57 @Milipol_Paris for\
 being top rope rain roun engaged raged vacinity members in my community in nearity :( and :() this week :)' \
 https://www.youtube.com/watch?v=g8u0wLvvPSs fax number 20712-1234 itit itit\
 +92-234234234 +92-1231415  +92-12311515 +92-12837817"

def pattern(patt):
    patt = re.compile(patt)
    matches = patt.finditer(txt)

    for i in matches:
        print(i)

In [141]:
# any chracter followed by 'ty'
pattern(r'.ty')

<re.Match object; span=(143, 146), match='ity'>
<re.Match object; span=(167, 170), match='ity'>
<re.Match object; span=(178, 181), match='ity'>

In [142]:
# 'i' then no/zero or any number of occurences of 't'
pattern(r'it*')

<re.Match object; span=(2, 3), match='i'>
<re.Match object; span=(5, 6), match='i'>
<re.Match object; span=(20, 21), match='i'>
<re.Match object; span=(46, 47), match='i'>
<re.Match object; span=(55, 56), match='i'>
<re.Match object; span=(65, 66), match='i'>
<re.Match object; span=(82, 83), match='i'>
<re.Match object; span=(84, 85), match='i'>
<re.Match object; span=(92, 93), match='i'>
<re.Match object; span=(101, 102), match='i'>
<re.Match object; span=(116, 117), match='i'>
<re.Match object; span=(141, 142), match='i'>
<re.Match object; span=(143, 145), match='it'>
<re.Match object; span=(155, 156), match='i'>
<re.Match object; span=(167, 169), match='it'>
<re.Match object; span=(171, 172), match='i'>
<re.Match object; span=(178, 180), match='it'>
<re.Match object; span=(195, 196), match='i'>
<re.Match object; span=(274, 276), match='it'>
<re.Match object; span=(276, 278), match='it'>
<re.Match object; span=(279, 281), match='it'>
<re.Match object; span=(281, 283), match='it'>

In [143]:
# 'i' then at least 1 or more occurences of t 
pattern(r'it+')

<re.Match object; span=(143, 145), match='it'>
<re.Match object; span=(167, 169), match='it'>
<re.Match object; span=(178, 180), match='it'>
<re.Match object; span=(274, 276), match='it'>
<re.Match object; span=(276, 278), match='it'>
<re.Match object; span=(279, 281), match='it'>
<re.Match object; span=(281, 283), match='it'>

In [144]:
# gives 'm' with zero or more occurences of m and 'ged' match
pattern(r'mm*|ged')

<re.Match object; span=(128, 131), match='ged'>
<re.Match object; span=(134, 137), match='ged'>
<re.Match object; span=(147, 148), match='m'>
<re.Match object; span=(149, 150), match='m'>
<re.Match object; span=(158, 159), match='m'>
<re.Match object; span=(163, 165), match='mm'>
<re.Match object; span=(230, 231), match='m'>
<re.Match object; span=(258, 259), match='m'>

In [145]:
# starts with 'com'
pattern(r'\bcom')

<re.Match object; span=(161, 164), match='com'>
<re.Match object; span=(228, 231), match='com'>

In [146]:
# ends with 'ty'
pattern(r'ty\b')

<re.Match object; span=(144, 146), match='ty'>
<re.Match object; span=(168, 170), match='ty'>
<re.Match object; span=(179, 181), match='ty'>

In [147]:
# Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)
pattern(r'\wop')

<re.Match object; span=(105, 108), match='top'>
<re.Match object; span=(109, 112), match='rop'>

In [148]:
# Returns a match where the string contains any word characters 
# (characters from a to Z, digits from 0-9, and the underscore _ character)
pattern(r'F\w')

<re.Match object; span=(12, 14), match='Fo'>
<re.Match object; span=(18, 20), match='Fr'>
<re.Match object; span=(26, 28), match='Fr'>
<re.Match object; span=(34, 36), match='Fa'>
<re.Match object; span=(42, 44), match='Fa'>

In [149]:
pattern(r'f\s*')

<re.Match object; span=(10, 12), match='f '>
<re.Match object; span=(95, 96), match='f'>
<re.Match object; span=(252, 253), match='f'>

In [150]:
# any word character before 'ged'
pattern(r'\w.ged')

<re.Match object; span=(126, 131), match='gaged'>
<re.Match object; span=(132, 137), match='raged'>

In [151]:
# zero or more occurence of anything(.) after 'num'
pattern(r'num.*')

<re.Match object; span=(256, 336), match='number 20712-1234 itit itit +92-234234234 +92-123>

In [152]:
import re

mylist = ["dog", "cat", "wildcat", "thundercat", "uncover", "unlock", "unsafe", "unemployment"]
r = re.compile("un.*")
newlist = list(filter(r.match, mylist)) # Read Note below
print(newlist)

['uncover', 'unlock', 'unsafe', 'unemployment']

In [171]:
# remove hyperlinks
# https?://   # match 'http' or 'https' followed by '://'
# .*          # match any number of characters
# [\r\n]*     # match a newline character (carriage return or line feed)
tweet = 'joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY in the mess'
re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)

'joim me while I feed the troops. :) '

In [158]:
# remove old style retweet text "RT"
tweet = 'RT joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'
re.sub(r'^RT[\s]+', '', tweet)

'joim me while I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'

In [159]:
# remove hashtags
# only removing the hash # sign from the word
tweet = 'joim me while #chillin I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'
re.sub(r'#', '', tweet)

'joim me while chillin I feed the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'

In [160]:
# remove stock market tickers like $GE
# backslash is required for some symbols to be in raw string
tweet = 'RT joim me while I feed  $GE the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'
re.sub(r'\$\w*', '', tweet)

'RT joim me while I feed   the troops. :) https://t.co/ZlcsRuUpPY via @audioBoom'

### **3. One Hot Encoding**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [ ]:
dic1= {'col1':[1,2,3,4,4], 'col2':['a','a','b','c','d']}
df = pd.DataFrame(dic1)
df

In [ ]:
categorical = df['col2'].to_frame()
categorical

  col2
0    a
1    a
2    b
3    c
4    d

In [ ]:
enc = OneHotEncoder()
X_ohe = enc.fit_transform(categorical)

In [ ]:
X_ohe.toarray()

array([[1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [ ]:
categorical.columns

Index(['col2'], dtype='object')

In [ ]:
enc.get_feature_names_out(categorical.columns)

array(['col2_a', 'col2_b', 'col2_c', 'col2_d'], dtype=object)

In [ ]:
pd.DataFrame(X_ohe.toarray(), columns=enc.get_feature_names_out(categorical.columns))

   col2_a  col2_b  col2_c  col2_d
0     1.0     0.0     0.0     0.0
1     1.0     0.0     0.0     0.0
2     0.0     1.0     0.0     0.0
3     0.0     0.0     1.0     0.0
4     0.0     0.0     0.0     1.0

### **4. Using funtools reduce**
python code to demonstrate working of `reduce()`

In [18]:
import functools

lis = [1, 3, 5, 6, 2]

def convert(var1, var2):
    return var1+var2

# the function here takes 2 arguments
print(f"The sum of the list elements is :{functools.reduce(convert, lis)}")
# OR
print(f"The sum of the list elements is :{functools.reduce(lambda a,b:a+b, lis)}")

The sum of the list elements is :17
The sum of the list elements is :17

In [11]:
import pandas as pd

# concat one dataframe to other and get a single big dataframe at end
df1 = pd.DataFrame({'a':[1], 'b':[112]})
df2 = pd.DataFrame({'a':[2], 'b':[2312]})
df3 = pd.DataFrame({'a':[12], 'b':[22]})

all_data = [df1,df2,df3]

functools.reduce(lambda a,b:pd.concat([a,b],axis=0), all_data)

    a     b
0   1   112
0   2  2312
0  12    22